/.idea
/.vagrant

/node_modules

/dist
/cache
/scratch
/tsd-cache
/test/tmp

/tscommand*
ignoreBaseDirFile.*
.tscache

/*.tgz
tmp/
dump/

.baseDir.ts
.baseDir.d.ts
.baseDir.js
.baseDir.js.map

_tmp.*

npm-debug.log
