.vscode

/.idea
/.vagrant

/node_modules
/typings

/lib/**/*.js
!/lib/dts-bundle.js

/test/tmp
/test/build
!/test/src/typings/*.d.ts
/test/src/**/*.d.ts
/test/src/**/*.js
/test/src/**/*.js.map

/tscommand*
.tscache

/*.tgz
tmp/
dump/

.baseDir.ts
.baseDir.d.ts
.baseDir.js
.baseDir.js.map

_tmp.*

npm-debug.log
